
<li>

<div class="well" data-story-id="{{id}}" data-user-id="{{userId}}">

  <h2>{{title}}</h2>
  <h5>By: {{user.firstName}} {{user.lastName}}   ({{user.username}})</h5>
  <p>Summary: {{story}}</p>

  </div>
</li>
