
<li>

<div class="well" data-id="{{id}}">

  <h2>{{name}}</h2>

  <h4>Title: {{title}}</h4>

  <h3>Story: {{story}}</h3>
  <h4>comment: {{comment}}</h4>

  <h3>rating: {{rating}}</h3>


  </div>
</li>
